body {
    background-color: rgb(60, 60, 60);
}

#project1 img,
#project3 img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    clip-path: circle(40%);
    overflow: hidden;
    transition: transform 0.5s ease;
}

#project2 img {
    width: 600px;
    height: 400px;
}

#project1:hover img,
#project2:hover img,
#project3:hover img {
    transform: scale(1.1);
}

#github,
#linkedin,
#Resume {
    color: rgb(187, 77, 77);
}

#wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "socials"
        "photo"
        "Intro"
        "main1"
        "main2"
        "main3"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

#Resume {
    font-family: Impact;
    text-decoration: dashed;
    font-size: xx-large;
}

#Photo {
    grid-area: photo;
    width: 400px;
    height: 450px;
}

.header {
    grid-area: header;
    background-color: rgb(60, 60, 60);
}

.header h1,
.header h2 {
    margin: 0;
    color: white;
}

.socials {
    grid-area: socials;
    background-color: rgb(60, 60, 60);
}

#title {
    color: white;
    grid-area: photo;
    z-index: 0;
}

#project1 {
    grid-area: main1;
}

#project2 {
    grid-area: main2;
}

#project3 {
    grid-area: main3;
}

@media screen and (min-width: 800px) {
    #wrapper {
        grid-template-areas:
            "header header socials"
            "photo Intro Intro"
            "main1 main2 main3"
            "footer footer footer";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        margin: 2vw;
    }

    #Intro {
        grid-area: Intro;
        display: flex;
        justify-self: center;
        align-items: center;
        margin: 3em;
        color: rgb(187, 77, 77);
        font-size: xxx-large;
        font-family: 'Trebuchet';
    }

    #Photo {
        margin-top: 2em;
        clip-path: circle();
        width: 400px;
        height: 550px;
        overflow: hidden;
    }

    .main {
        color: white;
        font-family: 'Franklin Gothic Medium';
    }
}