body {
    background-color: rgb(60, 60, 60);
}

#project {
    transition: step-start;
    transition: ease-in-out 2s;
}

#github,
#linkedin,
#Resume {
    color: rgb(187, 77, 77);
}

#wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "socials"
        "photo"
        "into"
        "main"
        "footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
}

#Resume {
    font-family: Impact;
    text-decoration: dashed;
    font-size: xx-large;
}

#Photo {
    grid-area: photo;
    width: 400px;
    height: 450px;
}

.header h1 {
    margin-top: auto;
    margin-bottom: auto;
    color: aquamarine;
}

.header h2 {
    margin-bottom: auto;
    margin-top: auto;
    color: aquamarine;
}

.TechnicalSkills h2 {
    margin-bottom: auto;
    margin-top: auto;
    color: aquamarine;
    font-family: 'Franklin Gothic Medium'
}

.header {
    grid-area: header;
    background-color: rgb(60, 60, 60);
}

.socials {
    grid-area: socials;
    background-color: rgb(60, 60, 60);
}

@media screen and (min-width: 800px) {
    #wrapper {
        grid-template-areas:
            "header header socials"
            "photo intro intro"
            "main main main"
            "footer footer footer";

        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;

        margin: 2vw;
    }

    #Intro {
        grid-area: intro;
        display: flex;
        justify-self: center;
        align-items: center;
        margin: 3em;
        color: rgb(187, 77, 77);
        font-size: xxx-large;
        font-family: 'Trebuchet';
    }

    #Photo {
        grid-area: photo;
        margin-top: 2em;
        clip-path: circle();
        width: 400px;
        height: 550px;
        overflow: hidden;
    }

    .main {
        grid-area: main;
        color: aquamarine;
        font-family: 'Franklin Gothic Medium';
    }

}