#wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "socials"
        "main"
        "footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
}

@media screen and (min-width: 800px) {
    #wrapper {
        grid-template-areas:
            "header header socials"
            "main main main"
            "footer footer footer";

        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;

        margin: 2vw;
    }

    .header
    {
        position: fixed;
    }
    .header h1 {
        margin-top: auto;
        margin-bottom: auto
    }

    .header h2 {
        margin-bottom: auto;
        margin-top: auto;
    }

    .socials{
        display: flex;
        justify-content: center;
    }
}

.header h1{
    grid-area: header;
}

.socials {
    grid-area: socials;
}