body {
    background-color: rgb(60, 60, 60);
}

#project1 img, #project2 img, #project3 img {
    display: flex;
    transition: step-start;
    transition: ease-in-out 2s;
    transition: transform 0.5s ease;
    width: 600px;
    height: 400px;
    clip-path: circle();
    overflown: hidden;
}
#project1{
    grid-area: main1;
}
#project2{
    grid-area: main2;
}

#project3{
    grid-area: main3;
}


#project1:hover img,#project2:hover img,#project3:hover img {
    transform: scale(1.1);
}

#github,
#linkedin,
#Resume {
    color: rgb(187, 77, 77);
}

#wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "socials"
        "photo"
        "into"
        "main"
        "footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
}

#Resume {
    font-family: Impact;
    text-decoration: dashed;
    font-size: xx-large;
}

#Photo {
    grid-area: photo;
    width: 400px;
    height: 450px;
}

.header h1 {
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 255, 255);
}

.header h2 {
    margin-bottom: auto;
    margin-top: auto;
    color: rgb(255, 255, 255);
}



.header {
    grid-area: header;
    background-color: rgb(60, 60, 60);
}

.socials {
    grid-area: socials;
    background-color: rgb(60, 60, 60);
}


@media screen and (min-width: 800px) {
    #wrapper {
        grid-template-areas:
            "header header socials"
            "photo intro intro"
            "main1 main2 main3"
            "footer footer footer";

        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;

        margin: 2vw;
    }

    #Intro {
        grid-area: intro;
        display: flex;
        justify-self: center;
        align-items: center;
        margin: 3em;
        color: rgb(187, 77, 77);
        font-size: xxx-large;
        font-family: 'Trebuchet';
    }

    #Photo {
        grid-area: photo;
        margin-top: 2em;
        clip-path: circle();
        width: 400px;
        height: 550px;
        overflow: hidden;
    }


    .main {
        color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium';
    }
}