body {
    background-color: rgb(60, 60, 60);
}

h2 {
    font-family: 'Trebuchet';
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

#project img {
    display: flex;
    width: 1080px;
    height: 200px;
    justify-self: center;
}

#project:hover img {
    transform: scale(1.1);
}


#title {
    display: flex;
    justify-self: center;
}

.Description {
    font-family: 'Franklin Gothic Medium';
    font-size: x-large;
    color: rgb(188, 98, 98);
}

#back {
    display: back;
    color: rgb(255, 255, 255);
    text-decoration: none;
}



@media screen and (min-width: 800px) {
    .wrapper {
        grid-template-areas:
            "back"
            "title"
            "main"
            "photo";

        grid-template-columns: auto;
        grid-template-rows: auto;

        margin: 2vw;
    }
}